@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #1c1c1c;
    color: #dcdccc;
    font-family: 'Inconsolata' !important;
}

a {
    color: #3465a4 !important;
}

a:hover {
    color: #75507b !important;
}

.footer {
    text-align: center;
}

.sidebar h1 {
    color: #a40000 !important;
    font-size: 1.3em;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.container-left {
    margin: 0;
}

.well {
    background: #1c1c1c;
    border-color: #4e9a06
}

.well h1 {
    font-size: 1.3em;
}

.author {
    color: #dcdccc;
}
